* {
    padding: 0;
    margin: 0;
}
img {
     max-height: 100vh;
    width: 100%; 
    display: block; 
    margin: 0 auto;
}
.container{
    position: relative;
}
#start_screen {
    position: absolute;
    top: 50%;
    left: 40%;
    padding: 10px;
    border-radius: 5px;

}
.user_nickname {
    display: inline;
}
#user_name {
    width: 300px;
    height: 50px;
    text-align: center;
    border-radius: 13px;
    margin-bottom: 5px;
}
#start {
    width: 300px;
    height: 45px;
    border-radius: 11px;
    background-color: #fff;
}
#start:hover{
    background-color: #ddd;
}
#screen {
    position: absolute;
    top: 50%;
    left: 39%;
    padding: 10px;
    border-radius: 5px;
     background-color: rgba(255, 255, 255, 0.7); 
    font-size: 20px;
    font-weight: bold;
}
#menu_input {
    width: 200px;
    height: 30px;
    border-radius: 6px;
}
#menu_button {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #fff;
}
#menu_button:hover {
    background-color: #ccc;
    color: #010101;
}
